---
import aboutimg from "../images/about.webp";
---

<section id="about-me" class="flex w-full items-center justify-center py-10">
  <div
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    class="flex flex-col items-center lg:w-3/5 px-10 py-20 md:p-10 space-y-10 bg-pink-200 rounded-tl-[300px] rounded-br-[300px] bg-opacity-70 max-w-[920px]"
  >
    <h1 class="text-3xl text-pink-500 font-semibold pt-4">Who is Lismy?</h1>
    <div class="lg:px-[10%] justify-center lg:space-x-8">
      <img
        src={aboutimg.src}
        alt="conoce a lis"
        class="float-right md:h-64 md:w-60 rounded-full border-4 border-pink-500 shadow-xl shadow-pink-400 lg:mx-5 mb-5"
      />
      <p class="text-gray-600 font-medium text-xl lg:px-5 text-justify">
        Hi! I'm Lis, a passionate and expert manicurist with over 10 years of
        experience, providing high-quality manicure services from my studio in
        the vibrant heart of Miami. My dedication to the art of nail care began
        as a personal passion that soon became my profession and the reason I
        strive every day to perfect and update my skills. I firmly believe that
        a good manicure goes beyond aesthetics; it's a form of self-care that
        boosts confidence and well-being. In my studio, each session is an
        opportunity to provide a moment of relaxation and luxury, ensuring that
        every client feels special and valued. I use high-quality products that
        are kind to both the skin and the environment, guaranteeing stunning
        results that speak for themselves. If you're looking for experience,
        creativity, and meticulous attention to detail, I would love the
        opportunity to beautify your hands and make you feel even more
        beautiful. I look forward to welcoming you to my studio soon and
        creating something beautiful together!
      </p>
    </div>
    <div class="flex flex-col items-center">
      <p class="px-5 text-2xl font-semibold text-gray-600">Lismy Brito</p>
      <span class="px-5 text-gray-500 text-md mb-8">Licensed Nail Artist.</span>
    </div>
  </div>
</section>
