---
import aboutimg from "../images/about.jpeg"
---
<section id="about-me" class="flex w-full items-center justify-center  bg-purple-300 py-5">
    <div class="flex flex-col items-center lg:w-3/5 p-10 space-y-10 bg-pink-200 rounded-tl-[300px] rounded-br-[300px] bg-opacity-70 ">
        <h1 class="text-3xl text-pink-500 font-semibold pt-4">¿Quién es Lismy?</h1>
        <div class="lg:px-[10%] justify-center lg:space-x-8">
            <img src={aboutimg.src} alt="conoce a lis" class="float-right lg:h-64 lg:w-60 rounded-full border-4 border-pink-500 shadow-xl shadow-pink-400 lg:mx-5 mb-5">
            <p class="text-gray-600 font-medium text-xl lg:px-5 text-justify">¡Hola! Soy Lis, una apasionada y experta manicurista con más de 10 años de experiencia, brindando servicios de manicure de alta calidad desde mi estudio en el vibrante corazón de Miami. Mi dedicación al arte del cuidado de las uñas comenzó como una pasión personal que pronto se convirtió en mi profesión y en la razón por la que cada día me esfuerzo por perfeccionar y actualizar mis habilidades.
                Creo firmemente que un buen manicure va más allá de la estética; es una forma de cuidado personal que refuerza la confianza y el bienestar.
                En mi estudio, cada sesión es una oportunidad para brindar un momento de relajación y lujo, asegurando que cada clienta se sienta especial y valorada. Utilizo productos de alta calidad que son amables con la piel y el medio ambiente, garantizando resultados impresionantes que hablan por sí mismos.
                Si estás buscando experiencia, creatividad y una atención meticulosa a los detalles, me encantaría tener la oportunidad de embellecer tus manos y hacer que te sientas aún más bella. ¡Espero poder darte la bienvenida pronto a mi espacio y crear juntas algo hermoso!</p>
            </div>
            <div class="flex flex-col items-center">
                <p class="px-5 text-2xl font-semibold text-gray-600">Lismy Brito</p>                
                <span class="px-5 text-gray-500 text-sm mb-8">Licensed Nail Tech, FL.</span>                
            </div>
    </div>
</section>