---
import smartphone from "../images/icons/smartphone.svg";
import location from "../images/icons/location.svg";
import email from "../images/icons/email.svg";
import bg_contact from "../images/bg_contact.webp";
---

<section
  id="contact"
  class="relative w-full flex flex-col items-center justify-center py-10 bg-pink-100"
>
  <img
    src={bg_contact.src}
    alt=""
    class="absolute h-full w-full object-cover opacity-10 z-0"
  />
  <div
    class="relative w-full md:w-3/5 flex flex-col items-center justify-center"
  >
    <h1
      data-aos="fade-down"
      data-aos-anchor-placement="center-bottom"
      class="text-3xl text-pink-500 font-semibold"
    >
      Dónde Encontrarme
    </h1>
    <div
      class="flex flex-col md:flex-row-reverse py-10 justify-between gap-4 w-full"
    >
      <iframe
        title="googlemaps iframe"
        data-aos="fade-left"
        data-aos-anchor-placement="center-bottom"
        class="rounded-xl shadow-lg shadow-gray-500 w-screen md:w-full px-2"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12018.127191285663!2d-80.24431609855895!3d26.129105319084747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d907ca7b3f6947%3A0x8a7fad0f11a79f78!2sLismynails%20(Home%20Based)!5e1!3m2!1ses-419!2sus!4v1740268509747!5m2!1ses-419!2sus"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
      <div
        data-aos="fade-right"
        data-aos-anchor-placement="center-bottom"
        class="flex flex-col items-center justify-center space-y-3 text-gray-500 font-semibold p-10"
      >
      <h1 class="text-2xl text-pink-500 py-2">Info de Contacto</h1>
      <div class="flex flex-col gap-1" >
        <a href="mailto: lismy2807@gmail.com" class="flex items-center">
          <img src={email.src} alt="phone icon" class="h-8 pr-2" />
          lismy2807@gmail.com
        </a>
        <a href="tel: 9544775261" class="flex items-center">
          <img src={smartphone.src} alt="phone icon" class="h-8 pr-2" />
          (954) 477-5261
        </a>
        <div class="flex items-center">
          <img src={location.src} alt="phone icon" class="h-8 pr-2" />
          <p>
            801 S University Dr, C-135, Ste 11, <br class="block md:hidden" /> Plantation, 33324.
          </p>
        </div>
      </div>
        <h1 class="text-2xl text-pink-500 py-4">Horarios</h1>
        <p class="t">LUN - SAB: 10:00 AM - 07:00 PM</p>
        <a
          href="https://www.fresha.com/es/book-now/lismynails-vuyfv72v/services?lid=1287814&eid=2979568&pId=1222535"
          target="_blank"
          
        >
          <button
            class="text-2xl border-2 font-bold hover:bg-pink-500 py-4 px-8 rounded-2xl hover:scale-105
                    hover:text-white border-pink-500 text-pink-500 transition"
            >Agenda Cita</button
          >
        </a>
      </div>
    </div>
  </div>
</section>
