---
import { ViewTransitions } from "astro:transitions";
import favicon from "/favicon.svg"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<script src="../utils/aos.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		
		--gradient-p: linear-gradient(
			121deg, 
			rgba(241,54,152,1) 0%,
			rgba(134,69,145,1) 55%, 
			rgba(168,85,247,1) 100%
		);
	}
	body{
		overflow-x: clip;
	}
	html {
		font-family: 'Lucida Sans Regular', sans-serif;
		font-size: small;
		background: #f0f0f0;
		background-size: 224px;
		overflow-x: hidden;
	}
</style>
